Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-slicing,
  misc-throw-by-value-catch-by-reference,
  misc-uniqueptr-reset-release

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _